@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
	--h1: 5vmax;
	--h2: 36px;
	--h3: 1.5vmax;
	--body: 18px;
	--subText: 14px;
	--primaryColor: #FFB548;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #ffff;
	font-size: var(--body);
}

nav {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 100%;
	height: 90px;
	display: grid;
	grid-template-columns: 0.2fr 1fr;
	align-items: center;
	justify-content: center;
	padding: 0 96px;
}

.menu__container {
	display: grid;
	grid-template-columns: 0.4fr 0.15fr;
	justify-content: space-between;
}

.nav__menu {
	font-size: 12px;
	justify-content: space-between;
	list-style: none;
	display: flex;
	align-items: center;
}



.nav__menu li a {
	text-decoration: none;
	color: var(--body);
	font-size: 12px;
	font-weight: 700;
}

.menu-toggle {
	display: none;
}

.menu-toggle .bar {
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease in ease-in-out;
	background: #ffffff;
}

.main-screen {
	display: grid;
	background-image: url(../img/bg-image-1.svg);
	height: 960px;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	background-position: center;
}

.h1 {
	font-size: var(--h1);
	font-weight: 700;
	font-family: 'Bebas Neue', sans-serif;
	letter-spacing: 3px;

}

.h3 {
	font-size: var(--h3);
	font-weight: 700;
	font-family: 'Bebas Neue', sans-serif;
	letter-spacing: 2px;
}

.btn {
	padding: 1vmax 4.5vmax;
	font-family: 'Open Sans';
	font-size: 1vmax;
	font-weight: 700;
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
}

.btn__primary {
	background-color: var(--primaryColor);
}

.call-to-action {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.cta--description {
	margin-top: 60px;
}

.btn--cta {
	margin-top: 60px;
}

.p__story {
	font-size: 12px;
	font-weight: 700;
}

.scroll-down-button {
	margin-top: 285px;
	text-align: center;

}



/* responsive  */
@media screen and (max-width:992px) {

	.menu__container {
		grid-template-columns: 0.5fr 0.3fr;
	}
}

/* responsive 768 */
@media screen and (max-width:768px) {
	nav {
		display: flex;
		justify-content: space-between;
		position: relative;
		padding: 0;
	}

	.logo,
	.menu-toggle {
		padding: 48px;
	}

	.menu-toggle {
		display: inline;
		cursor: pointer;
	}

	.menu-toggle .bar {
		display: block;
		transition: all 0.3s ease-out;
	}

	.menu__container {
		display: flex;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		position: absolute;
		top: 90px;
		margin: auto;
		left: -100%;
		opacity: 0;
		transition: all 0.5s ease;
	}

	.nav__menu {
		flex-direction: column;
	}

	.menu__container.active {
		background-color: rgba(0, 0, 0, 0.5);
		left: 0;
		opacity: 1;
		transition: all 0.5 ease;
	}

	.nav-links:hover {
		background-color: black;
		width: 100%;
	}

	.nav-links {
		text-align: center;
		line-height: 60px;
		width: 100%;
		display: table;
	}

	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
		transition: all 0.3s ease-out;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
		transition: all 0.3s ease-out;
	}

	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
		transition: all 0.3s ease-out;
	}
}